/**
	Basic styles 
*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.7rem;
	line-height: 1.648; /* ~28px */
	 -webkit-font-smoothing: antialiased;
}

p {
	margin-bottom: 2.8rem;
}

a {
	color: #999999;
	text-decoration: underline;
	font-weight: bold;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

a:hover {
	color: #d63f3f;
	text-decoration: none;
}

a.stripes:before { 
	content: url(../images/stripes_icon.gif);
	margin-right: 10px;
}

ul {
	list-style: none;
	margin-bottom: 2.8rem;
}

ul li {
	margin-bottom: 0;
}

ul li > a {
	font-weight: bold;
}

ul.check li {
	margin: 0 0 1.4rem;
	padding-left: 30px;
	background: url(../images/check.png) no-repeat 0 5px;
	font-weight: bold;
	color: #999;
}

p + img {
	margin-bottom: 2.8rem;
	padding-bottom: 2.8rem;
	border-bottom: 1px solid #eee;
}

img + .sub {
	display: block;
	position: relative;
	top: -2.8rem;
	color: #999;
	font-style: italic;
	font-size: 1.3rem;
	line-height: 1;
	text-align: right;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 2.8rem;
	text-transform: uppercase;
}

h1 { font-size: 2.8rem; line-height: 2.8rem; }
h2 { font-size: 2.4rem; line-height: 2.8rem; }
h3 { font-size: 1.7rem; line-height: 2.8rem; margin-bottom: 1.8rem; margin-top: 1rem; }
h4 { font-size: 1.5rem; line-height: 2.8rem; margin-bottom: 0; }
h5 { font-size: 1.1rem; line-height: 1.4rem; margin-bottom: 0; }
h6 { font-size: 0.9rem; line-height: 1.4rem; }

.clearfix::after {
	display: block;
	content: "";
	visibility: hidden;
	clear: both;
	height: 0;
}


/** 
	Styles 
*/


.header {
	position: relative;
	height: 700px;
	background-color: #d63f3f;
	overflow: hidden;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
	z-index: 10;
}

.purchase {
	position: absolute;
	top: 56px; 
	right: 70px;
	color: #fff;
	padding-left: 35px;
	background: url(../images/basket.png) no-repeat 0 50%;
	background-size: 28px 28px;
	font-weight: bold;
	z-index: 10;
}

.purchase > a {
	color: inherit;
}

.logo {
	position: relative;
	height: 60vw;
	width: 60vw;
	top: -30vw;
	left: 50%; 
	margin-left: -30vw;
	text-align: center;
	border-radius: 30vw;
	background-image: -ms-linear-gradient(top, #d63f3f 70%, #bd3838 100%);
	background-image: -moz-linear-gradient(top, #d63f3f 70%, #bd3838 100%);
	background-image: -o-linear-gradient(top, #d63f3f 70%, #bd3838 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70, #d63f3f), color-stop(100, #bd3838));
	background-image: -webkit-linear-gradient(top, #d63f3f 70%, #bd3838 100%);
	background-image: linear-gradient(to bottom, #d63f3f 70%, #bd3838 100%);
	
}

.logo img {
	display: inline-block;
	margin-top: 65%;
	width: 24%;
}

.title-wrap {	
	position: absolute;
	bottom: 84px;
	width: 100%;
}

.title-wrap h1 {
	display: inline-block;
	margin: 0 0 0 10%;
	width: 25%;
	height: 50px;
	padding: 0px 30px 30px 0;
	border-right: 5px solid #a32f2f;
	font-size: 2rem;
	line-height: 1.3;
	vertical-align: top;
	color: #fff;
	text-align: right;
	text-transform: none;
}

.plugin-switch {
	display: inline-block;
	height: 80px;
	width: 30%;
	margin-left: 70px;
	font-size: 1.3rem;
	line-height: 1.6;
}

.plugin-switch em {
	color: #fff;
	letter-spacing: .5px;
}

.plugin-switch button {
	position: relative;
	border: 0;
	border-radius: 20px;
	height: 40px;
	width: 140px;
	color: #fff;
	font-size: 1.5rem;
	box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.3);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;
	outline: none;
}

.plugin-switch button span {
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background-color: #eee;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	
}

.plugin-switch .on span {
	right: 4px;
	top: 4px;
}


.plugin-switch .off span {
	left: 4px;
	top: 4px;
}

.plugin-switch .on {
	background-color: #38bd73;
	text-align: left;
}

.plugin-switch .off {
	background-color: #2e2e2e;
	text-align: right;
}

.plugin-switch .off:before {
	content: "OFF";
}

.plugin-switch .on:before {
	content: "ON";
}


@media only screen and (max-width : 767px) {

	.logo { 
		height: 500px;
		width: 500px;
		top: -270px;
		left: 50%; 
		margin-left: -250px;
		border-radius: 250px;
	}
	
	.purchase { display: none; }	
	.header { height: 530px; }
	.title-wrap { text-align: center; bottom: 56px; }
	.title-wrap h1 { display: block; margin: 0 auto 5.6rem; width: 300px; padding: 0; border: 0; text-align: center; }
	.plugin-switch { margin-left: 0; width: 70%; }
}


/**
	Columns 
*/

.col-one, 
.col-two {
	position: relative;
	float: left;
	padding-left: 50px;
	box-sizing: border-box;
}

.col-one {
	width: 35%;
	padding: 100px 6% 50px 10%;
	background-color: #f5f5f5;
	font-size: 1.5rem;
	line-height: 1.867;
	color: #555;
}

.col-two {
	width: 60%;
	padding: 100px 0 100px 6%;
}

.col-two img,
.col-one img {
	width: auto;
	max-width: 100%;
}

.col-one h2 {
	text-transform: none;
	margin: 3.8rem 0 1.8rem;
}

.sidebar-logo {
	position: relative;
	margin-bottom: 4.2rem;
	padding-bottom: 2.8rem;
	border-bottom: 1px solid #fbfbfb;
}

.sidebar-logo img {
	padding: 25px;
	background-color: #eee;
	border: 1px solid #f1f1f1;
	box-sizing: border-box;
}

.sidebar-logo:after {
	position: absolute;
	content: "";
	left: 0; bottom: 0;
	border-bottom: 1px solid #e9e9e9;
	height: 0;
	width: 100%;
}

.copyright {
	border-top: 1px solid #e9e9e9;
	padding-top: 1.4rem;
	margin-top: 7rem;
	font-size: 1.3rem;
	color: #999;
	font-family: Courier, sans-serif;
}

.mobile-notice {
	display: none;
	font-size: 1.7rem;
	background-color: #d69956;
	padding: 2rem;
	color: #fff;
	font-weight: 700;
	margin: 5.6rem 0;
}

.up {
	display: none;
	position: fixed;
	right: 50px;
	bottom: 50px;
	padding: 10px;
	width: 32px;
	height: 32px;
	background: #eee url(../images/up.png) no-repeat 50% 50%;
	background-size: 32px 32px;
	border-radius: 5px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@media only screen and (max-width : 768px) { 
	.col-one { width: 45%; padding-left: 6%;  }
	.col-two { width: 50%; }
}


@media only screen and (max-width : 480px) {
	.col-one,
	.col-two {
		float: none;
		width: 100%;
		padding: 84px 15%;
	}
	.sidebar-logo, .col-two  {display: none; }	
	.mobile-notice { display: block; }
}



/** 
	Media Queries 
*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 979px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, Phones */
@media only screen and (max-width : 320px) {

}