﻿/*
Theme Name: Theme Enfant
Description: Theme enfant de Twenty Sixteen
Author: VNV SA
Author URI: http://vnv.ch
Template: twentysixteen
Version: 0.1.0
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body {
	background-color: rgb(241, 241, 241);
	padding-top: 90px; /* for sticky navbar */
	font-family: 'Open Sans', sans-serif;
}

a:hover, a:focus, a:active {
	outline: none !important;
}

body:before,
body:after {
	height: 0px !important;
}

a:hover {
	text-decoration: none;
}

a:focus,
a:selected {
	border: none;
}

/* Used for anchors with fixed-top menu */

.anchor-ean {
	padding-top: 100px;
	margin-top: -100px;
}

.anchor-ean-archives {
	padding-top: 70px;
	margin-top: -70px;
}

/* Popup Styles */
.popup-book-share p
{
	font-family: 'EB Garamond', serif;
	font-size: 11pt;
	font-weight:bold;
}

.header-popup H3
{
	margin-bottom: 0px;
}

.popup-book-not-available
{

}

.popup-book-share p i
{
	vertical-align: bottom;
}

.popup-book-author
{
	min-height: 60px;
	position: relative;
}

.popup-book-author p
{
	font-family: 'EB Garamond', serif;
	font-size: 11pt;
	font-weight:bold;
	margin-bottom: 0px;
}

.popup-book-align-author
{
	position: absolute;
	bottom: 0;
}

.popup-book-content div
{
	padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #979797;
    font-family: 'EB Garamond', serif;
}

.popup-book-details p
{
	font-family: 'EB Garamond', serif;
    padding-bottom: 10px;
    font-style: italic;
    color: #999999;
    margin: 0;
}

.popup-book-details span
{
	font-weight:bold;
	font-style: normal;
	color: #000000;
}

div.popup-book-details
{
	    padding-top: 10px;
    border-top: 1px solid #979797;
}

.auteur-sec
{
	font-style: italic;
}


#auteur-article {
	color: #E3000B;
	font-family: 'EB Garamond', serif;
}

.vc_single_image-wrapper {
	max-height: 800px;
	overflow: hidden;
}

.vc_single_image-wrapper img {
	object-fit: cover;
}

.link-inactive {
	cursor: not-allowed;
}

.fancybox-inner {
	overflow-x: hidden !important;
}

#back-to-top {
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 70px;
	height: 70px;
	z-index: 100;
	background-color: #E3000B;
	line-height: 70px;
	text-align: center;
}

#back-to-top a {
	background: none;
	text-decoration: none;
	color: #fff;
	background-color: transparent;
	width: inherit;
	height: inherit;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
 
#back-to-top a i {
	font-size: 20px;
	width: inherit;
	height: inherit;
	line-height: inherit;
}

.navbar-brand, 
.menu-item > a {
	min-height: 85px;
}

/* .navbar-brand p { */
	/* text-transform: uppercase; */
	/* color: #131413; */
	/* font-size: 2em; */
	/* line-height: 30px; */
	/* font-weight: 300; */
/* } */

/* .navbar-brand span { */
	/* color: #DB2A1B; */
/* } */

.navbar-brand > img {
	max-height: 100%;
}

.navbar-default {
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	background-color: #fff;
}

.navbar-default #menu-menu-principal > li > a {
	color: #E3000B;
	line-height: 70px;
	font-size: 1.15em;
	font-family: 'Open Sans', sans-serif;
}

.navbar-default #menu-menu-principal > li.active > a,
.navbar-default #menu-menu-principal > li > a:hover {
	font-weight: 700;
	background-color: rgba(241,241,241,1);
}

.navbar-default #menu-menu-principal > li > a::after {
	display:block;
	content:attr(title);
	font-weight:bold;
	height:1px;
	color:transparent;
	overflow:hidden;
	visibility:hidden;
}

#body > .logo-top img {
	position: absolute;
	padding-right: 30px;
	background-color: rgb(241, 241, 241);
	z-index: 100;
}

#body .logo-top-over-img {
	text-align: left !important;
}

#body .logo-top-over-img img {
	position: absolute;
	z-index: 100;
}

.header-hp {
	text-align: center;
}

.header-hp .slider {
	background-color: #333;
	color: #fff;
}

.slick-arrow,
.slick-arrow:active,
.slick-arrow:focus {
	height: 50px;
	width: 50px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 25px;
}

.slick-arrow:hover {
	background-color: rgba(255, 255, 255, 1);
}

.slick-dotted .slick-prev:before, 
.slick-dotted .slick-next:before {
	color: #000;
	font-size: 20px;
    font-family: 'FontAwesome';
}

.slick-dotted .slick-prev {
	left: 10%;
	z-index: 50;
}

.slick-dotted .slick-prev:before {
	content: "\f053";
}

.slick-dotted .slick-next {
	right: 10%;
	z-index: 50;
}

.slick-dotted .slick-next:before {
	content: "\f054";
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.slick-slider .slick-dots {
	bottom: 120px;
}

.slick-slider .slick-dots li button {
	border: solid 2px #fff;
	border-radius: 10px;
	padding: 0;
}

.slick-slider .slick-dots li.slick-active button:before {
	font-size: 10px;
	color: #fff;
}

.slick-slider .slick-dots li button:before {
	font-size: 0px;
}

.slick-slide .caption-slider {
	position: relative;
	width: 100%;
}

.slick-slide .caption-slider p {
	text-transform: uppercase;
	font-size: 3em;
}

.slick-slide img {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

#btn-slider-content {
	position: absolute;
	margin: auto 0;
	width: 100%;
	bottom: 80px;
}

#btn-slider-content a {
	color: #fff;
	border-radius: 30px;
	background-color: #E3000B;
	padding: 10px 30px;
}

.header-hp .text-header {
	background-color: #E3000B;
	margin-bottom: 30px;
	color: #fff;
	font-size: 1.1em;
}

/* REMOVE TO DISPLAY NEWS */
.header-hp .actus {
	display: none !important;
}

.header-hp .text-header p.text-title {
	text-transform: uppercase;
	font-size: 3em;
	padding-top: 30px;
	margin-bottom: 20px;
	color: #D8D8D8;
}

.header-hp .text-header p:last-of-type {
	/* display: none; */
	font-size: 1.2em;
	margin-bottom: 20px;
	color: #D8D8D8;
	font-family: 'EB Garamond', serif;
}

.header-hp .text-header hr,
.filters > hr,
#columns > hr {
	/* width: 60%; */
	margin-right: auto;
	margin-left: auto;
	border-color: #979797;
}

.header-hp .text-header .edito-btn {
	padding-bottom: 40px;
	padding-top: 30px;
}

.header-hp .text-header .edito-btn a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 20px;
}

.header-hp .text-header .edito-btn a:first-of-type {
	background-color: #000;
	color: #fff;
	margin-right: 10px;
}

.header-hp .text-header .edito-btn a:last-of-type {
	background-color: #fff;
	color: #000;
	margin-left: 10px;
}

#title-hp {
	text-transform: uppercase;
	padding-top: 20px;
	text-align: center;
	color: #D8D8D8;
}

#subtitle-hp {
	margin-top: 5px;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
	color: #D8D8D8;
}

.txt-mag {
	margin-right: 5px;
}

.book-display {
	color: #4C4C4C !important;
}

.book-display > div:first-of-type {
	margin-top: -1px;
}

.book-display .header-popup {
	font-size: 1.2em;
	text-transform: italic;
	margin-bottom: 0;
}

.book-display .book-image {
	text-align: center;
}

.book-display .book-image img {
	margin-top: 25px;
}

/* .book-display .book-content h3 { */
	/* text-transform: uppercase; */
/* } */

.book-display .book-content {
	min-height: 70px;
	margin-top: 25px;
}

.book-display .book-content .auteur,
.book-display .book-content .auteur-sec {
	font-weight: 700;
}

.book-display .book-content .auteur {
	margin-bottom: 0;
}

.book-display .book-content .auteur-sec {
	text-decoration: italic;
}

.book-display h3 {
	margin-top: 10px;
	margin-bottom: 15px;
}

.book-display .subtitle {
	/* text-transform: uppercase; */
	font-style: italic;
	font-family: 'EB Garamond', serif;
	color: #999;
}

.book-display .book-content .edition {
	font-style: italic;
	margin-bottom: 2px;
	margin-top: 2px;
	border-top: solid 1px #979797;
}

.book-display .book-content .the-content {
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: 1px solid #979797;
	font-family: 'EB Garamond', serif;
}

/* REMOVE FOR DISPLAYING SHARE BUTTON */
.book-display .book-share * {
	/* display: none; */
}

.book-display .book-share > div {
	margin-top: 0;
	padding-bottom: 12px;
	/*border-bottom: solid 1px #979797;*/
}


.book-display .book-share i,
#display-share-btn i {
	background-color: #E3000B;
	color: #fff;
	padding: 15px;
	border-radius: 50%;
}

.book-display .book-share #display-share-btn i {
	padding: 10px;
}

.book-display .book-share a {
	color: inherit;
}

.book-display .book-share #display-share-btn,
#share-btn-article + p {
	font-weight: 700;
	/* margin-top: 22px; */
	padding-top: 10px;
}

.book-display .book-share #display-share-btn {
	text-align: left;
}

.book-display .book-share #display-share-btn i,
.book-display .book-share #share-btn-article {
	text-align: right;
	margin-left: 10px;
}

#share-btn-article + p {
	border-top: solid 1px #979797;
}

#share-btn-article .addtoany_shortcode {
	text-align: right;
	/* padding-right: 30px; */
}

.book-display .share-border {
	padding-left: 10px;
	padding-right: 30px;
}

.book-display .share-border > div {
	border-top: solid 1px #979797;
}

#selection h1,
#archives h1,
#article h1 {
	text-align: center;
	color: #E3000B;
	margin-bottom: 30px;
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	padding-right: 10%;
	font-size: 3em;
}

/* body > .articles .entry, */
/* body > .selections .entry { */
	/* padding-right: 20%; */
/* } */

body > #columns .entry-title,
body > .articles .entry-title,
body > .selections .entry-title {
	/* padding-right: 20%; */
	font-family: inherit;
}

#selection .entry {
	border-right: solid 1px #979797;
}

#columns .read-more,
.archives .read-more,
.articles .read-more {
	display: none;
}

#columns .entry .img img,
.selections .entry .img img,
.articles .entry .img img,
.archives .entry .img img,
.book-article-div img {
	border: solid 8px transparent;
}

#columns .entry .img img:hover,
.selections .entry .img img:hover,
.articles .entry .img img:hover,
.archives .entry .img img:hover,
.book-article-div img:hover {
	border: solid 8px #E3000B;
}

.read-more {
	margin-bottom: 0;
	font-style: italic;
	color: inherit;
}

.read-more a {
	color: inherit;
	font-style: italic;
}

.articles .img img,
.archives .img img,
.selections .img img,
#article div img,
#selection div img {
	margin-top: 30px;
}

#article div.entry .img,
#selection div.entry .img {
	display: inline-block;
	position: relative;
}

/* REMOVE FOR DISPLAYING SHARE BUTTON */
#article .share-btn *,
#selection .share-btn * {
	/* display: none; */
}

.share-btn-content {
	max-width: 40px;
}

.articles .img .share-btn,
.archives .img .share-btn,
.selections .img .share-btn,
#article .share-btn,
#selection .share-btn {
	position: absolute;
	margin-left: -30px;
	margin-top: 10px;
}

.articles .img .share-btn > i,
.archives .img .share-btn > i,
.selections .img .share-btn > i,
#article div .share-btn > i,
#selection div .share-btn > i {
	background-color: #eee;
	color: #fff;
	padding: 15px;
	border-radius: 50%;
}

.articles .img .share-btn:hover > i,
.archives .img .share-btn:hover > i,
.selections .img .share-btn:hover > i,
#article div .share-btn:hover > i,
#selection div .share-btn:hover > i {
	background-color: #E3000B;
}

#article div .share-btn-content,
#selection div .share-btn-content {
	position: absolute;
	z-index: 999;
	right: 0%;
	top: 13%;
}

.articles .img .share-btn-content {
	position: absolute;
	z-index: 999;
	right: 5%;
	top: 13%;
}

.selections .img .share-btn-content {
	position: absolute;
	z-index: 999;
	top: 13%;
	left: 350px;
}

.articles .img .share-btn-content{
	top: 15%;
}

#article div .share-btn-content {
	top: 23%;
}

#article div:first-of-type .img {
	margin-top: 100px;
}

.type-content {
	color: #B43C3E;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: solid 1px #979797;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}

#selection .type-content {
	max-width: 380px;
}

.entry-title {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2em;
	color: #000;
	hyphens: manual;
	margin-bottom: 0;
	padding-bottom: 1em;
}

.code-ean {
	margin-top: 20px;
}

.book-details {
	font-family: 'EB Garamond', serif;
	padding-bottom: 10px;
}

.book-details .details-title {
	color: #999;
	font-style: italic;
	margin-bottom: 0;
	margin-top: 10px;
}

.book-details .details-title > span {
	color: #000;
	font-style: normal;
}

.btn-book-div {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #979797;
}

.btn-book-div .btn-book {
	background-color: #00483A;
	color: #fff;
	border-radius: 40px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 40px;
	padding-right: 40px;
	margin-right: 15px;
	margin-left: 15px;
}

.btn-book-div .btn-book:first-child {
	background-color: #000;
}

.btn-book-div .btn-book .fa {
	margin-left: 5px;
}

/* .btn-book-div .btn-book:hover { */
	/* background-color: #000; */
	/* text-decoration: none; */
/* } */

body > .articles,
body > .archives,
body > .selections {
	background-color: rgba(241,241,241,0.5);
}

body > .articles > h1,
body > .archives > h1,
body > .selections > h1 {
	text-align: center;
	font-size: 4.5em;
	padding: 50px 0;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;
	margin-bottom: 50px;
	color: #E3000B;
	font-family: 'EB Garamond', serif;
	font-weight: 700;
}

body > .articles > .row,
body > .archives > .row,
body > .selections > .row {
	margin-top: 50px;
}

/* body > .articles > .row > .entry, */
/* body > .selections > .row > .entry { */
	/* padding-right: 10%; */
	/* border-right: solid 1px #979797; */
/* } */


.archives .filters {
	text-align: center;
}

.archives .filters button {
	color: #D0021B;
	background-color: #FFF;
	border: 1px solid #D0021B;
	border-radius: 100px;
	margin: 20px;
	padding: 0;
	width: 140px;
	height: 52px;
	max-height: 52px;
	vertical-align: bottom;
}

.archives .filters button:hover,
.archives .filters button.current {
	color: #FFF;
	background-color: #D0021B;
}

.archives .filters button:focus {
	outline: none;
}
	
.archives-content > div > h1 {
	display: none;
}

.single #article-single { 
	font-family: 'EB Garamond', serif;
	font-size: 1.5em;
	color: #4A4A4A; 
}

.single #article-single .entry > a.group:hover {
	background-color: rgba(255, 0, 0, 0.8);
}

.single #article-single .titre-article .wpb_wrapper > h1 {
	/* font-weight: 700 !important; */
	color: #e3000b !important;
	font-size: 2.3em !important;
	font-family: 'Open Sans', sans-serif;
}

.single #article-single #auteur-article,
.single #article-single .auteur-article {
	color: #e3000b;
	font-size: 0.85em;
}

.single #article-single .chapeau-article {
	font-weight: 700;
	color: #e3000b;
	font-size: 1.15em;
}

.single #article-single .titre2-article .wpb_wrapper > h2 {
	font-size: 1.6em;
}

.single #article-single .titre-interview-article .wpb_wrapper > h2 {
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.single .book-layer > i {
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	color: #fff;
}

.articles-slider {
	margin-top: 20px;
	margin-bottom: 20px;
}

.articles-slider .slide {
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

.articles-slider h3 {
	font-size: 1.5em;
	color: #E3000B;
	margin-bottom: 10px;
	min-height: 50px;
}

.articles-slider a {
	display: inline-block;
	background-color: #fff;
	color: #4A4A4A;
	padding: 10px 30px;
	border-radius: 20px;
	border: solid 1px #4A4A4A;
}

.articles-slider .slick-arrow, 
.articles-slider .slick-arrow:active, 
.articles-slider .slick-arrow:focus {
	background-color: rgba(227, 0, 11, 0.8);
}

.articles-slider .slick-prev::before, 
.articles-slider .slick-next::before {
	font-family: 'FontAwesome';
}

.articles-slider .slick-prev::before {
	content: "\f053";
}

.articles-slider .slick-next::before {
	content: "\f054";
}

.btn-article {
	text-align: center;
	margin-top: 50px;
}

.btn-article .btn-prev,
.btn-article .btn-next  {
	background-color: #eee;
	padding: 30px 0;
}

.btn-article .btn-prev > a,
.btn-article .btn-next > a {
	background-color: #E3000B;
	color: #fff;
	padding: 10px 30px;
	border-radius: 20px;
}

footer {
	text-align: center;
	margin-top: 20px;
}

.bloc-pub {
	min-height: 150px;
}

.bloc-pub hr,
.articles-slider hr {
	border-color: #E3000B;
}

.bloc-pub hr:first-of-type,
.articles-slider hr {
	margin-bottom: 0;
}

.bloc-pub p {
	text-align: left;
}

.bloc-pub > div > div {
	min-height: 100px;
	background-color: #4990E2;
}
.bloc-pub .pub {
	width: 100%;
}

#bloc-footer-1 {
	background-color: #E3000B;
	color: #fff;
}

#bloc-footer-1 > p {
	font-size: 1.5em;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 25px;
}

#bloc-footer-1 > p:first-of-type {
	display: block;
	padding-bottom: 25px;
}

#bloc-footer-1 > div {
	width: 100%;
	padding-bottom: 30px;
}

#bloc-footer-1 > div > p {
	display: inline-block;
	vertical-align: baseline;
	font-size: 2em;
	background-color: #F1F1F1;
	color: #E3000B;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
	margin-bottom: 40px;
	line-height: 75px;
}

#bloc-footer-1 > div > a {
	vertical-align: baseline;
	line-height: 75px;
}

#bloc-footer-1 .rectangle-bloc-1 {
	display: inline-block;
	background-color: #D8D8D8;
	height: 200px;
	width: auto;
	margin-right: 25px;
	box-shadow: 5px 5px 10px #000;
}

#bloc-footer-1 .rectangle-bloc-1 > img {
	max-height: 200px;
	height: 100%;
	width: auto;
}

#bloc-footer-2 {
	display: none;
	background-color: #FBFBFB;
}

#bloc-footer-2 > p {
	padding-top: 50px;
	font-size: 2em;
}

#bloc-footer-2 form {
	margin-bottom: 100px;
}

#bloc-footer-2 form input[type="email"] {
	width: 20%;
}

#bloc-footer-1 .btn-black,
#bloc-footer-2 .btn-black {
	text-transform: none;
	font-weight: normal;
	border-radius: 30px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 20px;
	background-color: #000;
	color: #fff
}

#bloc-footer-3 {
	background-color: #282828;
}

#bloc-footer-3 .navbar-footer {
	background: transparent;
}

#bloc-footer-3 .navbar-footer li.active a {
	background-color: transparent;
}

#menu-footer {
	display: inline-block;
	float: none;
	vertical-align: top;
}

#menu-footer > li > a {
	min-height: 70px;
}

#menu-footer > li > a {
	color: #fff;
	line-height: 40px;
}

#menu-footer > li > a:hover {
	color: #ccc;
}

.navbar .navbar-collapse {
	text-align: center;
}

#bloc-footer-4 {
	background-color: #00483A;
	padding-bottom: 40px;
	padding-top: 40px;
}

#bloc-footer-4 p {
	font-size: 1.5em;
	color: #F1F1F1;
}

#bloc-footer-4 p a {
	color: #F1F1F1;
}

#bloc-footer-5 {
	background-color: #F1F1F1;
}

#bloc-footer-5 p {
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	color: #4A4A4A;
	fon-size: 0.9em;
}

@media (min-width: 1200px) {
	
	/* .fancybox-lock .fancybox-overlay { */
		/* overflow: hidden; */
		/* overflow-y: hidden; */
	/* } */
}

@media (max-width: 1280px) {
	
	.selections .img .share-btn-content {
		right: 25%;
		left: auto;
	}
}

@media (max-width: 1200px) {
	
	.header-hp .text-header p:first-of-type {
		font-size: 2.5em;
	}

	#selection .entry {
		border-right: none;
	}

	.articles .img .share-btn-content {
		top: 17%;
	}
	
	.entry-title {
		word-wrap: break-word;
		font-size: 1.5em;
	}
}

@media (min-width: 978px) {
	
	.articles-slider .slick-prev {
		left: -50px;
	}
	
	.articles-slider .slick-next {
		right: -50px;
	}
}

@media (max-width: 978px) {
	
	.articles .img .share-btn-content {
		top: 18%;
	}
	
	#body > .logo-top img {
		max-width: 140px;
		height: auto;
	}
}

@media (max-width: 767px) {
	
	#back-to-top {
		width: 55px;
		height: 55px;
		line-height: 55px;
	}
	
	#body > .logo-top img {
		max-width: 110px;
		height: auto;
	}
	
	.navbar-default #menu-menu-principal > li > a,
	.navbar-default #menu-footer > li > a {
		min-height: 0px;
		line-height: 40px;
	}
	
	.navbar-default #menu-footer {
		display: block;
	}
	
	.navbar-default #menu-footer li {
		display: none;
	}
	
	.navbar-default #menu-footer li:nth-last-child(2),
	.navbar-default #menu-footer li:last-child {
		display: inline-block;
		font-size: 1.5em;
	}
	
	#selection .entry {
		border: none;
	}
	
	.header-hp .slick-arrow {
		display: none !important;
	}
	
	.slick-track > .slide > img {
		height: 70vh;
		max-width: none;
		width: auto;
	}
	
	#btn-slider-content {
		position: static;
		bottom: auto;
		background-color: #fff;
	}
	
	#btn-slider-content > a {
		line-height: 5em;
	}
	
	.header-hp .text-header .edito-btn a {
		display: block;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0 !important;
		margin-left: 0 !important;
		margin-top: 10px;
	}
	
	body .selections > .row,
	body .articles > .row {
		margin-top: 0;
	}
	
	body .selections > .row .entry,
	body .articles > .row .entry {
		margin-top: 50px;
	}
	
	.selections > .row > .entry .entry-title,
	.articles > .row > .entry .entry-title {
		padding-bottom: 0;
		word-wrap: break-word;
	}
	
	.articles-slider .slide h3 {
		padding: 0 15px;
	}
	
	.articles-slider .slick-arrow {
		width: 35px;
		height: 35px;
	}
	
	.book-display .book-share p {
		border-top: none;
	}
	
	.btn-book-div .btn-book {
		display: block;
		padding: 0;
		margin-top: 10px;
		line-height: 45px;
	}
	
	.header-hp .text-header p:first-of-type {
		font-size: 2em;
	}
	
	#bloc-footer-2 > p {
		font-size: 1.5em;
	}
	
	#bloc-footer-2 form input[type="email"] {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	
	#bloc-footer-4 p {
		font-size: 1.2em;
	}
	
	.entry-title {
		margin-bottom: 10px;
	}
	
	.read-more {
		margin-bottom: 30px;
	}
	
	.articles .img .share-btn-content {
		right: 5%;
	}
	
	.selections .img .share-btn-content {
		left: 350px;
		right: auto;
	}
	
	.archives .filters button {
		max-width: 120px;
		margin: 12px;
		padding: 5px;
	}
	
	.archives-content > div > h1 {
		display: block;
		text-align: center;
		color: #E3000B;
		margin-bottom: 30px;
		font-family: 'EB Garamond', serif;
		font-weight: 700;
		padding-right: 10%;
		font-size: 3em;
	}

	#bloc-footer-1 > div > p {
		display: none;
	}

	#bloc-footer-1 .btn-black {
		display: block;
		margin: 20px 15px 0 15px;
		padding: 0;
		line-height: 60px;
	}
}

@media (max-width: 620px) {
	
	.header-hp .text-header p:first-of-type {
		font-size: 1.5em;
	}
	
	#bloc-footer-2 > p {
		font-size: 1.2em;
	}
	
	/* .slick-dots { */
		/* bottom: 15px !important; */
	/* } */
	
	/* #article div .share-btn-content, */
	/* #selection div .share-btn-content { */
		/* left: 88%; */
	/* } */
}

@media (max-width: 480px) {
	
	.articles .img .share-btn-content{
		top: 17%;
		right: 8%;
	}
	
	.selections .img .share-btn-content{
		right: 12%;
		left: auto;
	}
}
